<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Data Science for Immunologists</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/static/css/main.css" />
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt">
				<h1><strong><a href="index.html">Data Science</a></strong> Immunologists</h1>
				<nav id="nav">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="generic.html">About Us</a></li>
						<li><a href="elements.html">Book</a></li>
					</ul>
				</nav>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Banner -->
			<section id="banner">
				<h2>Data Science for Immunologists</h2>
				<p>
					An Introduction to Machine Learning, Statistics & Programming for Immunologists<br><br>
					Our book "Data Science for Immunologists" is now available to purchase through Kindle and the Kindle app for Android, iPhone, Mac and Windows.
				</p>
				<ul class="actions">
					<li><a href="#" class="button special big">Buy Now</a></li>
				</ul>
			</section>

			<!-- One -->
				<section id="one" class="wrapper style1">
					<div class="container 75%">
						<div class="row 200%">
							<div class="6u 12u$(medium)">
								<header class="major">
									<h2>BOOK:
										DATA SCIENCE FOR IMMUNOLOGISTS</h2>
									<!-- <p></p> -->
								</header>
							</div>
							<div class="6u$ 12u$(medium)">
								<p>
									Data science is a complex subject, but nevertheless one that can be made accessible to all through clear,
									intuitive explanations and worked examples.
								</p>

								<p>
									Existing software that forms the backbone of an immunologist's analytical toolkit (such as FlowJo and Prism) are expensive,
									inflexible and promotes a narrow mindset when it comes to analysing your data. On the other hand, the Python and R programming
									languages are open source, free and entirely customisable, giving the user the ability to implement any analysis they wish.
								</p>
								<p>
									Although programming languages can seem daunting to the uninitiated, it's far easier to learn than many immunologists may think.
									Rather than seeking to become an expert programmer, an understanding of the main concepts is more than enough to conduct your
									own bespoke analyses when coupled with a sound mathematical and statistical understanding.
								</p>
								<p>
									​Our new book focusses on the practical aspects of data science, providing sufficient theoretical background without delving into
									all of the details of each of the methods presented. Introductory chapters are presented alongside the analysis of a publicly
									available data set, allowing the reader to have practical hands-on experience when learning about important concepts in statistics,
									machine learning and programming. Topics include: -
									
									<ul>
										<li>How to build a predictive model</li>
										<li>How to visualise high-dimensional data</li>
										<li>Basics of programming in Python and R</li>
										<li>What techniques exist to cluster data</li>
										<li>Which statistics test to use/why/when</li>
										<li>What is dimension reduction; when and how to use it</li>
									</ul>
								</p>
								<p>
									Once these fundamental topics have been covered, a number of case studies are presented, along with the underlying data, accompanying
									code and full explanations on topics such as automated, data-driven flow cytometry, building predictive models of disease using gene
									expression profiling and analysing high throughput sequencing data.
								</p>
							</div>
						</div>
					</div>
				</section>

			<!-- Two -->
				<section id="two" class="wrapper style2 special">
					<div class="container">
						<header class="major">
							<h2>Fusce ultrices fringilla</h2>
							<p>Maecenas vitae tellus feugiat eleifend</p>
						</header>
						<div class="row 150%">
							<div class="6u 12u$(xsmall)">
								<div class="image fit captioned">
									<img src="/static/pic02.jpg" alt="" />
									<h3>Lorem ipsum dolor sit amet.</h3>
								</div>
							</div>
							<div class="6u$ 12u$(xsmall)">
								<div class="image fit captioned">
									<img src="/static/pic03.jpg" alt="" />
									<h3>Illum, maiores tempora cupid?</h3>
								</div>
							</div>
						</div>
						<ul class="actions">
							<li><a href="#" class="button special big">Nulla luctus</a></li>
							<li><a href="#" class="button big">Sed vulputate</a></li>
						</ul>
					</div>
				</section>

			<!-- Three -->
				<section id="three" class="wrapper style1">
					<div class="container">
						<header class="major special">
							<h2>Mauris vulputate dolor</h2>
							<p>Feugiat sed lorem ipsum magna</p>
						</header>
						<div class="feature-grid">
							<div class="feature">
								<div class="image rounded"><img src="/static/pic04.jpg" alt="" /></div>
								<div class="content">
									<header>
										<h4>Lorem ipsum</h4>
										<p>Lorem ipsum dolor sit</p>
									</header>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore esse tenetur accusantium porro omnis, unde mollitia totam sit nesciunt consectetur.</p>
								</div>
							</div>
							<div class="feature">
								<div class="image rounded"><img src="/static/pic05.jpg" alt="" /></div>
								<div class="content">
									<header>
										<h4>Recusandae nemo</h4>
										<p>Ratione maiores a, commodi</p>
									</header>
									<p>Animi mollitia optio culpa expedita. Dolorem alias minima culpa repellat. Dolores, fuga maiores ut obcaecati blanditiis, at aperiam doloremque.</p>
								</div>
							</div>
							<div class="feature">
								<div class="image rounded"><img src="/static/pic06.jpg" alt="" /></div>
								<div class="content">
									<header>
										<h4>Laudantium fugit</h4>
										<p>Possimus ex reprehenderit eaque</p>
									</header>
									<p>Maiores iusto inventore fugit architecto est iste expedita commodi sed, quasi feugiat nam neque mollitia vitae omnis, ea natus facere.</p>
								</div>
							</div>
							<div class="feature">
								<div class="image rounded"><img src="/static/pic07.jpg" alt="" /></div>
								<div class="content">
									<header>
										<h4>Porro aliquam</h4>
										<p>Quaerat, excepturi eveniet laboriosam</p>
									</header>
									<p>Vitae earum unde, autem labore voluptas ex, iste dolorum inventore natus consequatur iure similique obcaecati aut corporis hic in! Porro sed.</p>
								</div>
							</div>
						</div>
					</div>
				</section>

			<!-- Four -->
				<section id="four" class="wrapper style3 special">
					<div class="container">
						<header class="major">
							<h2>Downloads</h2>
							<p>
								You can download all the files required to work through examples in our book
								<a href="/static/data_science_for_immunologists.csv" download >here</a>.
							</p>
							<p>
								We appreciate Prof. Mala Maini agreeing to make a subset of the data from this Nature Medicine paper available to use
								throughout our examples. We also appreciate her agreeing to make an .fcs file available for the Recipes chapter in our book.
							</p>
							<p>
								Additionally, we would like to thank Mikhail Shugay for his excellent work curating the T cell receptor specificity database VDJdb.
							</p>
						</header>
						<ul class="actions">
							<li><a href="#" class="button special big">Get in touch</a></li>
						</ul>
					</div>
				</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook"></a></li>
						<li><a href="#" class="icon fa-twitter"></a></li>
						<li><a href="#" class="icon fa-instagram"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="/static/js/jquery.min.js"></script>
			<script src="/static/js/skel.min.js"></script>
			<script src="/static/js/util.js"></script>
			<script src="/static/js/main.js"></script>

	</body>
</html>