<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <title>Data Science for Immunologists</title>
<!--

TemplateMo 548 Training Studio

https://templatemo.com/tm-548-training-studio

-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/templatemo-training-studio.css">

    </head>

  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N33QL38YL3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-N33QL38YL3');
</script>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="js-preloader" class="js-preloader">
      <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="{{ url_for('index')}}" class="logo">Data<em> Science</em></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#features">About Us</a></li>
                            <li class="scroll-to-section"><a href="#call-to-action">Book</a></li>
                            <li class="scroll-to-section"><a href="#our-classes">What is Data Science?</a></li>
                            <li class="scroll-to-section"><a href="#schedule">Downloads</a></li> 
                            <li class="main-button"><a href="https://www.amazon.co.uk/Data-Science-Immunologists-Niclas-Thomas-ebook/dp/B079W4HXWV">Buy Now</a></li>
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <video autoplay muted loop id="bg-video">
            <source src="/static/images/background.mp4" type="video/mp4" />
        </video>

        <div class="video-overlay header-text">
            <div class="caption">
                <h6>An Introductory Book to Machine Learning, Statistics & Programming for Immunologists</h6>
                <h2>Data Science for <em>Immunologists</em></h2>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->


    <!-- ***** Features Item Start ***** -->
    <section class="section" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2>About <em>Us</em></h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ul class="features-items">
                        <li class="feature-item">
                            <div class="left-icon">
                                <img src="/static/images/niclas.jpg"" width=150>
                            </div>
                            <div class="right-content">
                                <h4>Niclas Thomas MMath MRes PhD</h4>
                                <p>
                                    Niclas is a professional data scientist with experience at several large retailers,
                                    tackling a wide range of business problems using advanced mathematical and statistical techniques.<br><br>
                                </p>
                                <p>                                    
                                    He gained a PhD at UCL using machine learning to build predictive models of the immune system,
                                    combining standard experimental techniques with advanced analytical methods. These methods were
                                    applied to a variety of data types, from high throughput sequencing data to lower dimensional cell
                                    frequency data. Following completion of his PhD, he worked as a post-doctoral research associate,
                                    using machine learning to predict renal transplant failure from flow cytometry data.<br><br>
                                </p>
                                <p>
                                    Whilst academic data science differs to corporate data science on a couple of points, such as scope
                                    for innovation and pace of delivery, there are far more similarities than differences. Both require
                                    sound theoretical knowledge, the ability to programmatically implement mathematical ideas, a collaborative
                                    mindset and the ability to communicate complex approaches and results to non-technical colleagues.
                                    The last of these points is a real passion of his.<br><br>
                                </p>
                                <p>
                                    He consults on several immunological projects, advising on statistical analysis, experimental design
                                    and visualisation techniques amongst other things. As well as improving the quality of data analysis,
                                    he enjoys bringing data science to new audiences, and this website and associated book is written with
                                    this in mind.<br><br>
                                </p>
                                <p>
                                    datascienceforimmunologists (@) gmail.com
                                </p>
                                <ul class="social-icons">
                                    <li><a href="https://twitter.com/datasciimmunol?lang=en"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="https://linkedin.com/in/niclas-thomas-1159bb29"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul class="features-items">
                        <li class="feature-item">
                            <div class="left-icon">
                                <img src="/static/images/laura.jpg" width=150>
                            </div>
                            <div class="right-content">
                                <h4>Laura Pallett BSc PhD</h4>
                                <p>
                                    Laura is a postdoctoral research scientist at UCL, focussing on understanding the mechanisms of immune
                                    dysfunction in chronic hepatitis B infection.<br><br>
                                </p>
                                <p>
                                    Having gained a PhD in viral immunology with first-author
                                    publications in Nature Medicine and Journal of Experimental Medicine, she is now investigating immunological
                                    mechanisms at play in the human liver, with specific interests in immunometabolism and tissue-residency.<br><br>
                                </p>
                                <p>
                                    Whilst having trained as a laboratory scientist, she has recently taken a keen interest in advanced in silico
                                    techniques for the analysis of immunological data. In particular, she believes that strong fundamentals in
                                    statistics coupled with practical knowledge of visualisation techniques is a must for the modern immunologist.<br><br>
                                </p>
                                <p>
                                    In addition to her academic experience, she has worked at GlaxoSmithKline and acts on immunology advisory
                                    boards for Gilead.<br><br>
                                </p>
                                <p>
                                    She is passionate about science communication, and is the co-founder and co-author of her lab's twitter feed,
                                    with the aim of bringing their work to a broader audience. She is also an early careers representative on the
                                    British Society of Immunology Forum.<br><br>
                                </p>
                                <p>
                                    datascienceforimmunologists (@) gmail.com
                                </p>
                                <ul class="social-icons">
                                    <li><a href="https://twitter.com/datasciimmunol?lang=en"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="https://uk.linkedin.com/in/laura-jane-pallett-984845ba""><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Item End ***** -->

    <!-- ***** Call to Action Start ***** -->
    <section class="section" id="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <h2>What is our book about?</h2>
                        <p>
                            Data science is a complex subject, but nevertheless one that can be made accessible to all through clear,
                            intuitive explanations and worked examples.
                        </p>
                        <p>
                            Existing software that forms the backbone of an immunologist's analytical toolkit (such as FlowJo and Prism) are expensive,
                            inflexible and promotes a narrow mindset when it comes to analysing your data. On the other hand, the Python and R programming
                            languages are open source, free and entirely customisable, giving the user the ability to implement any analysis they wish.
                        </p>
                        <p>
                            Although programming languages can seem daunting to the uninitiated, it's far easier to learn than many immunologists may think.
                            Rather than seeking to become an expert programmer, an understanding of the main concepts is more than enough to conduct your
                            own bespoke analyses when coupled with a sound mathematical and statistical understanding.
                        </p>
                        <img src="/static/images/frontcover.png" width=200>
                        <p>
                            ​Our book focusses on the practical aspects of data science, providing sufficient theoretical background without delving into
                            all of the details of each of the methods presented. Introductory chapters are presented alongside the analysis of a publicly
                            available data set, allowing the reader to have practical hands-on experience when learning about important concepts in statistics,
                            machine learning and programming. Topics include: -
                            <ul>
                                <li>How to build a predictive model</li>
                                <li>How to visualise high-dimensional data</li>
                                <li>Basics of programming in Python and R</li>
                                <li>What techniques exist to cluster data</li>
                                <li>Which statistics test to use/why/when</li>
                                <li>What is dimension reduction; when and how to use it</li>
                            </ul>
                        </p>
                        <p>
                            Once these fundamental topics have been covered, a number of case studies are presented, along with the underlying data, accompanying
                            code and full explanations on topics such as automated, data-driven flow cytometry, building predictive models of disease using gene
                            expression profiling and analysing high throughput sequencing data.
                        </p>
                        <div class="main-button">
                            <a href="https://www.amazon.co.uk/Data-Science-Immunologists-Niclas-Thomas-ebook/dp/B079W4HXWV">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Call to Action End ***** -->

    <!-- ***** Our Classes Start ***** -->
    <section class="section" id="our-classes">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2>What is <em>Data Science?</em></h2>
                    </div>
                    <p>
                        Whilst no single definition of data science exists, it broadly concerns the application of the
                        scientific method to data. Data science is used to obtain insights from data through a combination
                        of advanced analytic techniques.<br><br>
                        
                        Typically, data science brings together techniques from several fields, acting at the intersection
                        of statistics, mathematics, machine learning and programming. Machine learning in particular has seen
                        a huge growth in interest recently, and whilst the hype may not always live up to reality, recent
                        advances in this field allow novel insights to be drawn from data like never before.<br><br>
                        
                        Knowledge of these techniques means little without the power to implement them. Fortunately, many of
                        these techniques can be easily implemented in Python and R, open source programming languages that
                        benefit from a wide community of experts who contribute code to these projects and make it publicly
                        available. A little bit of knowledge is a dangerous thing, however, and it would be unwise to implement
                        these techniques without knowing how they work, and when and when not to use them.<br><br>
                    </p>
                    <img src="/static/images/ellipsoids.png" width=250>
                    <p>
                        The best data scientists have a sound knowledge of machine learning and statistical techniques, combined
                        with strong programming capability. The demands of data science in a corporate setting are very different to
                        those in an immunological research setting. For example, the practice of web scraping (automating the retrieval
                        of information from web pages) is commonly required in a business setting, but in the context of immunology,
                        this would be an irrelevant skill.<br><br>
                        
                        Courses and textbooks that focus on data science as a general skill set are not particularly relevant for the
                        researcher in immunology. For this area of research, data science requires a heavy focus on frequentist statistics
                        (i.e. statistical significance testing) and visualisation techniques (i.e. dimension reduction, clustering and
                        alternative methods to display information).<br><br>

                        Rather than learning about clustering as a general method for grouping similar objects together, it's far more useful
                        to learn about and apply clustering techniques in a more relevant context such as flow cyotmetry. Likewise, machine
                        learning concepts such as classification models are easier to understand when introduced in the context of developing
                        a clinical patient model.<br><br>
                        
                        Data science for immunologists places more emphasis on relevant techniques, ignoring methods that will likely never be
                        needed and instead focussing on those that must form the backbone of an immunologists analytical toolkit.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Our Classes End ***** -->
    
    <section class="section" id="schedule">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading dark-bg">
                        <h2><em>Downloads</em></h2>
                    </div>
                    <div class="cta-content">
                        <p>
                            Files required to work through examples in our book are available
                            <a href="https://github.com/niclas-thomas/datasciimmunol/raw/master/static/data.zip" download >here</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>
                    Design: <a rel="nofollow" href="https://templatemo.com" class="tm-text-link" target="_parent">TemplateMo</a></p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/static/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="/static/js/popper.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="/static/js/scrollreveal.min.js"></script>
    <script src="/static/js/waypoints.min.js"></script>
    <script src="/static/js/jquery.counterup.min.js"></script>
    <script src="/static/js/imgfix.min.js"></script> 
    <script src="/static/js/mixitup.js"></script> 
    <script src="/static/js/accordions.js"></script>
    
    <!-- Global Init -->
    <script src="/static/js/custom.js"></script>

  </body>
</html>